
body{

}

}

header{
    font-family: 'Frank Ruhl Libre', serif;
    letter-spacing: .05em;
    padding: 20px;
    text-align: center;
}
	
	header p{
		font-family: 'Montserrat',sans-serif;

	}

nav{
	background-color: #d5dbdb;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px;

}

	nav a{
		color: #072d33;
		letter-spacing:.05em; 
		text-decoration: none;
		padding: 10px;
		

	}

article{
	
	border: 1px black solid;
	font-family: 'Montserrat',sans-serif;
	padding: 20px;

}

	h2{
	font-family: 'Frank Ruhl Libre', serif;
	}

footer{

}


ul{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	line-height: 1.5em;

}

.shop{
	border: 1px black solid;
	font-family: 'Montserrat',sans-serif;
	padding: 20px;

}

a:hover{
	background-color: #b8baba;

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 5px;
}

#left {
    background-color: #049bb3;
    border: 1px black solid;
    float: left;
    width: 50%;
}

#right {
    background-color: #049bb3;
    border: 1px black solid;
    float: right;
    width: 50%;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


