
body{

}



header{
	background: url("../images/header-flower.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	color: #f6f3ee;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.45em;
    letter-spacing: .1em;
    padding: 40px;
}
	
	header p{
		color: #f6f3ee;
		font-family: 'Montserrat',sans-serif;
		margin: 0;
	}

nav{
	background-color:#fcf9f2;
	border-top: 1px solid grey;
	border-bottom: 1px solid orange;
	font-family: 'Montserrat',sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: .05em;
	text-align: right;
	padding: 5px;
}

	nav a{
		color: #364558;
		text-decoration: none;
		padding: 10px;	

	}

	a:hover{
	background-color: #b8baba;
	}

h2{
	color: #1a2029;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75em;
	letter-spacing: .02em;
	text-align: left;
}


main{
	background-color: #ffbf17;
	border-bottom: 1px solid orange;
}

p{
	color:#1a2029;
	font-size: 1.1em;
	letter-spacing: .01em;
	width: 75%;

}

footer{
	background-color:#fcf9f2;
	font-family: 'Frank Ruhl Libre', serif;
	padding: 2%;
}


	footer a{
		color: #0052d1;
		font-weight: bold;
		text-decoration: none;
	}


#shop{
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 1.1em;
	padding: 2%;

}

#shopleft{
	float: left;
	width: 57%;
	margin: auto;
}


#shopright{
	float: right;
	width: 37%;
	margin: auto;
	text-align: center;
	
}

#blogpost{
	font-family: 'Frank Ruhl Libre', serif;
	padding: 2%;

	
}

#articleleft{
	float:left;
	width: 40%;
	margin: auto;
	
}

#articleright{
	float:right;
	width: 56%;
	margin: auto;
	
}

#shopleft img, #shopright img, #articleright img, #articleleft img{
	width:100%;
}


#leftfooter{
    float: left;
    width: 30%;
   margin: auto;
}

#rightfooter {
    float: right;
    width: 66%;
   margin: auto;
}


.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


