
body{

}

header{
    border: 1px black solid;
    color: #FFED74;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 20px;
}

	h1{
		color: #000000;
		font-weight: 700;
		text-align: center;
	
	}	

	nav{
		border: 1px black solid;
		color: #E8C66A;
		padding: 20px;

	}

		nav a{

		}


article{
	border: 1px black solid;
	color: #E89C6C;
	font-family: 'Josefin Sans', sans-serif;
	padding: 20px;

}

	h2{
	font-family: 'Frank Ruhl Libre', serif;
	}

footer{

}


ul{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	line-height: 1.5em;

}

.shop{
	border:1px black solid;
	font-family: 'Josefin Sans', sans-serif;
	padding: 20px;

}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {    
	background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;

}

#section {
	color:#FFE2B8;
	border: 1px black solid;
    padding: 20px;

}

#slogan{
	font-family: 'Frank Ruhl Libre', serif;
	font-style: italic;
}	



