body{



}

h1{ background: url("../images/bottles.jpg");
background-repeat:no-repeat;
background-size: cover;
font-family: Times New Roman;
	font-size: 80px;
	font-weight:600;
	text-align: center;
	color: #000000
	
	
	
}

img{

}

p{

}
#slogan{font-style: italic;
	

}

ul{

}
li{

}

